<div class="container-fluid main-div">
    <div class="col-md-3 card display-product-necklace" *ngFor="let product of productNecklace">
        <!-- <p class="display-product-id">{{product.id}}</p> -->
        <a [routerLink]="['/productdetailnecklace/'+product.id]">
            <img class="card-title display-product-image" [src]="product.image">
            <p class="card-text display-product-name">{{product.name}}</p>
        </a>
        <p class="card-text display-product-price">{{product.price | currency:'INR'}}</p>

        <div class="product-display-icons">
            <a class="card-link" routerLink="/#"> <i class="fa fa-heart fa-2xl"></i> </a>
            <button class="btn btn-plain" (click)="addToCart(product)"> <i class="fa-solid fa-cart-shopping fa-2xl"></i>
            </button>

            <!-- <button class="btn btn-info">add to cart</button> -->
        </div>
    </div>
</div>