<div class="container-fluid">
<!-- component Interaction -->

    <div class="row">
        <div class="display product">
            <app-earrings [productEarings]="productEarings"></app-earrings>
        </div>
        <div class="display product">
            <app-necklace [productNecklace]="productNecklace"></app-necklace>
        </div>
        <div class="display product">
            <app-rings [productRings]="productRings"></app-rings>
        </div>
        <div class="display product">
            <app-bracelets [productBracelets]="productBracelets"></app-bracelets>
        </div>
      </div>


</div>