<div class="navbar">
  <div class="navbar-left">
    <a routerLink="/"><img src="../assets/logo.jpg" class="logo"></a>
    <a class="earrings-category ml-4" routerLink="/earings">Earrings</a>
    <a class="necklace-category ml-5 mr-5" routerLink="/necklaces">Necklace</a>
    <a class="rings-category" routerLink="/rings">Rings</a>
    <a class="bracelet-category ml-5" routerLink="/bracelets">Bracelets</a>
  </div>

  <div class="navbar-right">

    <!-- reward and coupon -->
    <a class="reward-coupons" data-bs-toggle="offcanvas" href="#offcanvascoupons">
      <i class="fa fa-gift fa-xl"></i>
      Rewards & Coupons
    </a>
    <!-- reward and coupon offcanvas-->
    <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" data-bs-backdrop="false" data-bs-keyboard="true"
      tabindex="-1" id="offcanvascoupons" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">My Wishlist</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <h2>body</h2>
        </div>
      </div>
    </div>

    <!-- wishlist -->
    <a class="wishlist" data-bs-toggle="offcanvas" href="#offcanvaswishlist">
      <i class="fa-solid fa-heart wishlist-logo fa-xl "></i>
      Wishlist
    </a>

    <!-- wishlist offcanvas element -->
    <div class="offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false" data-bs-keyboard="true"
      tabindex="-1" id="offcanvaswishlist" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">My Wishlist</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <h2>body</h2>
        </div>
      </div>
    </div>
    <!-- cart -->
    <a class="cart" data-bs-toggle="offcanvas" href="#offcanvascart">
      <button class="btn btn-plain" (click)="getAllCartProducts()">
        <i class="fa-solid fa-cart-shopping fa-xl "></i>
        <span class='badge badge-warning' id='lblCartCount'>{{lastSavedQuantity}}</span>
        Cart
      </button>
    </a>
    <!-- cart offcanvas -->
    <div class="offcanvas cart-toggle  offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false"
      data-bs-keyboard="true" tabindex="-1" id="offcanvascart">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">My Cart</h4>
        <h6 class="total-cart-item"><b>Total Quantity : </b>{{lastSavedQuantity}}</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div *ngFor="let cart of cartData" class="container">
          <div class="card">
            <!-- <p>{{cart["name"]}}hwhwhhwhw</p> -->
            <img class="cart-image" [src]="cart.image">
            <p class="card-name"><b>Name :</b>{{cart.name}}</p>
            <p><b>Type : </b>{{cart.material_type}}</p>
            <p><b>Price : </b>{{cart.price |currency:'INR'}}</p>
            <p><b>Quantity : </b>{{cart.quantity}}</p>
            <h5>Total : {{cart.totalPrice | currency:'INR'}}</h5>
            <div class=" button-remove mt-2">
              <button class="btn btn-danger btn-remove" (click)="deleteSingleProduct(cart.name)">remove</button>
            </div>
          </div>
          <!-- <h3 > Total Price : Rs. {{cart.totalPrice}}</h3> -->
        </div>
        <div class="alert alert-success mt-3">
          <h4 class="cart-subtotal">Subtotal ({{lastSavedQuantity}} items): {{cartTotal | currency:'INR'}}</h4>
          <!-- <h4>{{lastSavedQuantity}}</h4> -->
        </div>
        <button class="btn btn-danger btn-lg" (click)="clearAllProducts()">clear cart</button>
        <button class="btn btn-success btn-lg checkout-button" routerLink="/checkout">checkout</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid display-area">
  <router-outlet></router-outlet>
</div>