.card-header{
    font-weight: 700;
}

.price-detail-area{
    width: 40%;
}

.price-detail-area{
    width: 30%;
    float: right;
    padding:10px;
    margin-right: 100px;
}
.items-detail-area{
    width: 50%;
    float: left;
    margin-left: 70px;
}
.product-text-details{
    float: left;
}
.product-text-details{
    width: 60%;
    float: right;
    padding: 10px;
}
.product-image-area{
    width: 30%;
    float: left;
    padding: 10px;
}
.product-image{
    width: 100%;
}
.total-price-display-area{
    padding: 20px;
}
.total-price-display{
    float: right;
    // margin-left: 15px;
}
.discounted-price-text{
    float: right;
}
.delivery-charges-text{
    float: right;
}
.quantity-manager{
    width: 10%;
}
.btn-remove{
    text-align: right;
    float: right;
    // width: 10px;
}
.button-payment{
    text-align: center;
    float: left;
}
.coupons-input-field{
    width: 40%;
}
